.Rproj.user
.Rhistory
.RData
.Ruserdata
.out
.html
*.out
*.err
*.exe
*routput*
html/
figure-html/
.png
output_scripts/*.html
output_scripts/old_paper_figure/*
run_scripts/routput*
run_scripts/slurm*
output_jul*
output_scripts/slide_figure/*
output_scripts/response_figure/*